@import url('https://fonts.googleapis.com/css2? família=Inter:wght@100;200;300;400;500;600&family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 200vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login h1 {
    font-size: 3vw;
    color: #06b48e;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #00daaa;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login h1 {
    color: #ffffff;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #ffffff;
    color: black;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield label {
    color: white;
    margin-bottom: 10px;

}

.textfield input::placeholder {
    color: #06b48e;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-family: 800;
    letter-spacing: 3px;
    color: #06b48e;
    background: #ffffff;
    cursor: pointer;
    box-shadow: opx 10px 40px -12px #000000c0;
    justify-items: center;
}

.btn-login a {
    color: #06b48e;
}

.cadr button a {
    text-transform: uppercase;
    font-family: 800;
    border-radius: 4px;
    border: none;
    letter-spacing: 3px;
    color: #06b48e;
    background: #ffffff;
    cursor: pointer;
    box-shadow: opx 10px 40px -12px #000000c0;
    justify-items: center;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login>h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 50vh;
    }

    .card-login {
        width: 90%;
    }
}
